body{
    padding-right: 0;
}
#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background-color: #B23000;
    color: white;
}

#map {
    height: 800px;
    width: 700px;
}
a.my-class {
    color: #333333;
    font-size: 40px;
}

    a.my-class:active {
        color: #666666
    }

    a.my-class:link {
        color: #999999
    }

    a.my-class:visited {
        color: #CCCCCC
    }

.badge-notify {
    background: blue;
    position: relative;
    top: -15px;
    left: -18px;
}
span.glyphicon-link {
    font-size: 5.0em;
}
.iconMy {
    padding-top: -5px;
}