
@{
    ViewBag.Title = "ContactForm";
}

<h2>Contacts</h2>

<div class="vcard">
    <p class="fn"><a class="url" href="#">Projekto priziuretojas Julius Andriusaitis</a><p>
    <p class="adr">
        <span class="street-address">Didlaukio 47</span><br>
        <span class="region">Vilnius</span><br>
        <span class="country-name">Lietuva</span>
    </p>
    <p class="tel">+37062418566</p>
</div>