@model SocialType.Models.UserAccount
@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>


<div class="col-md-4">
    @using (Html.BeginForm("ChangePassword", "UserAccount", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
                <div>
                    <ul class="list-group">
                        <li class="list-group-item">@Model.Username</li>
                    </ul>
                </div>
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "new password" })
                <input type="submit" class="btn btn-lg btn-success" value="Submit" />
                @Html.HiddenFor(model => model.Username)
    }
</div>

