@model SocialType.Models.UserAccount
@{
    ViewBag.Title = "ForgotPassword";
}

<h2>ForgotPassword</h2>

@Html.TextBoxFor(model => model.Email)
<input type="submit" class="btn btn-lg btn-success" value="Submit" />

