@model IEnumerable<SocialType.Models.UserAccount>
@{
    ViewBag.Title = "ShowAllUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Show all Users</h2>

<div class="col-md-4 col-md-6">
    <div class="container">
        <h2>Users table</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Username</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
              <!--  
                {
                <tr>
                    <td>@a.FirstName</td>
                    <td>@a.LastName</td>
                    <td>@a.Username</td>
                    <td>@a.Email</td>
                </tr>
                }-->
            
           
            </tbody>
        </table>
    </div>

</div>


