@model SocialType.ViewModels.LocationViewModel
@{
    ViewBag.Title = "Show";
}

<h2>Show @Model.Name drinks</h2>
<div class="col-md-12">
    <div class="col-md-6">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model.Drinks)
                {
                    <tr>
                        
                        @{
                            <td>@a.Id</td>
                            var num = a.Id;
                            <td><a href="/drinks/edit/@a.Id">@a.Name</a></td>
                            <td>@a.Price $</td>
                        }
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-6"></div>
</div>
