@model SocialType.ViewModels.FeedbackViewModel

<div class="col-md-12">
    <p>Feedbackas: @Model.feedback.TextFeedback</p>
</div>

@using (Html.BeginForm("Index", "Locations", FormMethod.Post))
            {
    <div class="col-md-6">
        <br />

        @Html.TextBoxFor(model => model.feedback.TextFeedback, new { @class = "form-control", @placeholder = "Name" })
        <br />
        <input type="submit" value="Submit" class="btn btn-lg btn-primary" />
    </div>
}